@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
  --main-bg-color:#F8F8F4;
  --R-color:#EE411B;
  --G-color:#88DD4A;
  --B-color:#265EDE;
  --C-color:#8BE0CC;
  --M-color:#F464D3;
  --Y-color:#FFE72C;
}


*{color: #000; font-family: 'Noto Sans KR', sans-serif;}
body{width: 100vw; height: 100vh; background-color: var(--main-bg-color); overflow: hidden; transition: all .6s ease-in-out;}
.en{font-family:'Jost', sans-serif;}


/* Header */
header{padding: 40px 35px; display: flex; }
h1, h2{font-family: 'Jost', sans-serif; font-weight: 500; font-size: 38px;}
h1, h2 .hover{color:#F8F8F4; z-index: 100;}
.line{border: 1.2px solid #000; width: 87%; height: 0px; text-align: center;margin: 0 20px; margin-top: 20px; z-index: 1;}

/* Navigation */
/* nav{position: absolute; top: 40%; right: -100px;} */
.menu-btn-wrap{z-index: 999; position:fixed; top: 40%; right: -100px;}
.menu-bg{
  background-color: #000; width: 190px; height: 190px; border-radius: 100%; 
}
.menu-btn {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 50%; left: 25%;
  transform: translate(-50%, -50%);
}
.menu-btn span {
  display: block;
  background-color: var(--main-bg-color);
  width: 30px; height: 4px;
  border-radius: 5px;
  transition: 0.25s margin 0.25s, 0.25s transform;
}
.menu-btn span:nth-child(1) {margin-bottom: 8px;}
.menu-btn span:nth-child(3) {margin-top: 8px;}
.menu-btn.open span {transition: 0.25s margin, 0.25s transform 0.25s; background-color: #000; }
.menu-btn.open span:nth-child(1) { margin-top: 8px; margin-bottom: -4px; transform: rotate(45deg);}
.menu-btn.open span:nth-child(2) {transform: rotate(45deg);}
.menu-btn.open span:nth-child(3) {margin-top: -3px; transform: rotate(135deg);}

/* nav open */
.full-bg-nav{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 0;
  overflow:hidden;
  opacity: 0;
  transition: 0.3s;
}
/* Wheel menu */
/* .wheel-menu{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -1%);
  width: 1700px; height: 1700px;

  border: 5px solid var(--R-color); border-radius: 50%;
  overflow: hidden; background: transparent;
} */
.menu-list{float: left; margin:0 50px;}
.menu-list:nth-child(1){border-bottom:1px solid var(--R-color);}
.menu-list:nth-child(2){border-bottom:1px solid var(--G-color);}
.menu-list:nth-child(3){border-bottom:1px solid var(--B-color);}
.menu-list a{
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
  transition:0.2s ease;
  font-size: 60px;
  font-family: 'Jost', sans-serif;
}
.menu-list a:hover{opacity: 1;}
.full-bg-nav.visible{
  width: 100%;
  opacity: 1;
  z-index: 5;
}

/* Contact */
#contact .contact{position:fixed; bottom:0; padding:40px 35px;}
#contact .contact ul{font-family: 'Jost', sans-serif; font-weight: 500; font-style: italic; font-size: 24px;}
#contact .contact ul li{padding-bottom: 20px;}
#contact .contact ul li:hover a{border-bottom: 3px solid #000; transition: all .3s ease;}
#contact .contact ul li p.hidden{display:none; margin-left:22px; transition: all .6s ease;}
#contact .contact ul li:hover p.hidden{display:inline-block;}


/* cursor */
#cursor-bg{
  position:absolute; top:0; left:0; transform:translate(-50%, -50%); 
  width:10px; height:10px; background-color:#000;
  pointer-events:none; border-radius:100%; z-index:1000;
}
